root = true

[{*.groovy, *.Jenkinsfile}]
ij_groovy_names_count_to_use_import_on_demand = 999
ij_groovy_class_count_to_use_import_on_demand = 999

# White space config that seems to be different from the default
ij_groovy_space_after_colon = true
ij_groovy_space_before_colon = true
ij_groovy_spaces_around_equality_operators = true
